<ion-view view-title="Reaction test">
  <style>
  </style>
  <ion-content ng-click="clicked()" ng-class="{red: timerExpired}">
      <h1>Measure reaction time</h1>
    <div ng-hide="gameEnded">
      <div ng-show="readyCounter >= 0">
        <p>Get ready, starting in: {{readyCounter}}</p>
      </div>
      <div ng-hide="readyCounter >= 0">
        <p>Game started. Click when the color changes!</p>
      </div>
    </div>
    <div ng-show="gameEnded">
      <div ng-show="gameWon">
        <p>You win! Reaction time: {{reactionTime | number: 0}} ms</p>
      </div>
      <div ng-show="gameLost">
        <p>You lose!</p>
      </div>
    </div>
  </ion-content>
</ion-view>
